<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iRango | Pedidos</title>
    <script src="/lib/tailwind.js"></script>
    <script defer src="/lib/flowbite.js"></script>
    <script defer src="/js/back.js"></script>
</head>

<body class="bg-gradient-to-tr from-gray-900 via-gray-950 to-black flex items-center justify-center min-h-screen">

    <canvas id="stars" class="absolute top-0 -z-10"></canvas>

        <div class="w-1/2 flex items-center justify-center flex-col">
            <div
                class="bg-gradient-to-tl from-gray-600 to-gray-800 p-6 rounded-lg shadow-lg w-full m-10 max-w-[35vw] border border-white">
                <h1 class="text-3xl font-semibold text-center text-white mb-6">Informações do cliente</h1>
                <div class="space-y-4">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="email" name="floating_email" id="nomeCliente"
                            class="text-lg text-white block py-2.5 px-0 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                            placeholder=" " required />
                        <label for="floating_email"
                            class="peer-focus:font-medium absolute text-sm text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nome
                            do cliente</label>
                    </div>
                </div>
            </div>
            </div>
            
</body>

</html>




