<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./lib/tailwind.js"></script>
    <title>iRango | Introdução</title>
</head>

<body>
    <header class="w-screen h-[7vh] relative flex items-center justify-center">
        <div class="">
            <img src="" class="h-[6vh]">
            
        </div>
    </header>
</body>

</html>