<!DOCTYPE html>
<html lang="pt-br" class="overflow-x-hidden max-h-screen">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./lib/tailwind.js"></script>
    <script src="./lib/flowbite.js"></script>
    <title>iRango | Administração</title>
</head>

<body class="font-sans bg-gray-100 h-screen overflow-hidden">
    <%- include('../partials/header.ejs') %>
    
</body>

</html>